# Dependency directories
**/node_modules

# Local environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs
*.log

# OS files
.DS_Store
Thumbs.db
backend/.env
backend/node_modules/@types/whatwg-url/index.d.ts
backend/node_modules*
